@import './font.css';
@import './markdown.css';
@import './transitions.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: blue;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.action-btn{
  @apply text-white bg-blue-500 py-2 px-6 my-4 rounded-xl hover:bg-blue-700 font-bold;
}